body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
   background: -webkit-linear-gradient(90deg, #85a9b9,#8497b5,#c8c9d2);
   background: linear-gradient(90deg, #85a9b9,#8497b5,#c8c9d2);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}


.form-container {
   display: flex;
   max-width: 800px;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.image-container {
   flex: 1;
   padding: 20px;
   text-align: center;
}

.image-container img {
   max-width: 100%;
   margin-top: 23%;

}


.form-content {
   flex: 1;
   padding: 20px;
}


.book-form h1 {
   text-align: center;
   margin-bottom: 20px;
}


.form-group {
   margin-bottom: 15px;
}

.form-group label {
   display: block;
   margin-bottom: 8px;

}

.form-group input[type="text"],
.form-group input[type="number"] {
   width: 100%;
   padding: 10px;
   font-size: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.form-group input[type="submit"] {
   background-color: blue;
   color: white;
   border: none;
   padding: 12px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   border-radius: 50px;
   cursor: pointer;
}

.form-group input[type="submit"]:hover {
   background-color: #007bff;
}


.back-home {
   text-align: center;
   margin-top: 20px;
}

.back-home a {
   text-decoration: none;
   color: #007bff;
}

.back-home a:hover {
   text-decoration: underline;
}